# Data Science Process
1. Define the Problem
2. Data Collection
3. EDA (Exploratory Data Analysis)
4. Data Cleaning and Pre-Processing
5. Feature Engineering
6. Modelling
7. Evaluation
8. Deployment

# Exploratory Data Analysis 
1. Load and Understand the structure of the data
2. Clean the data
3. Get the statistical summaries
4. Data Visualization

<b>Pandas are used for EDA.</b>
<b>MatplotLib, Seaborn are used for Data Visualization.</b>

<b>Pandas</b>: Data analysis and manipulation tool.

In [7]:
import pandas as pd

In [8]:
# Pandas -> Series, DataFrames
# Series -> 1-Dimensional labelled array
# DataFrame -> 2-Dimension Labelled array (Like a table)

info = {
    "Name": ["Gojo", "Toji", "Adi"],
    "Marks": [95, 78, 99]
}

df = pd.DataFrame(info)
print(df)

# The Dictionary Keys are the Headers of the DataFrame.
# 0, 1 and 2 are the labels in the DataFrame.

   Name  Marks
0  Gojo     95
1  Toji     78
2   Adi     99

In [9]:
df

   Name  Marks
0  Gojo     95
1  Toji     78
2   Adi     99

In [10]:
# Series - 1D Labelled Array
s = pd.Series([1, 2, 3, 4, 5])
print(s)
print(type(s))

# Index
print(s[0])
print(s[2])

# Index and labels are not the same. We can also have custom labels.

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
3

In [11]:
# Adding a custom label
s = pd.Series([22, 23, 24, 25, 26], index = ["Adi", "Gojo", "Toji", "Nanami", "Sukuna"])
print(s)

# Accessing values using labels
print(s["Adi"])
print(s["Gojo"])

# Printing all the labels 
print(s.index)

Adi       22
Gojo      23
Toji      24
Nanami    25
Sukuna    26
dtype: int64
22
23
Index(['Adi', 'Gojo', 'Toji', 'Nanami', 'Sukuna'], dtype='object')

# Properties of Series:
- Homogenous
- Vectorized Operations
- Handle Missing values with NaN
- Mutable values, immutable size

In [15]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

print(s1 + s2)

s1[0] = 100
changed_s1 = s1.drop(0)

print(s1)
print(changed_s1)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0    100
1      2
2      3
3      4
4      5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
# DataFrame (2D Labelled Array)

info = {
    "Name": ["Adam", "Eve", "Bob"],
    "Age": [23, 24, 25],
    "GPA": [9.5, 8.6, 7.2]
}

df = pd.DataFrame(info)
print(df) 
print(df.index)

   Name  Age  GPA
0  Adam   23  9.5
1   Eve   24  8.6
2   Bob   25  7.2
RangeIndex(start=0, stop=3, step=1)

In [22]:
# Lists of Lists 
df = pd.DataFrame([["Adam", 23], ["Bob", 23], ["Eve", 23]], columns = ["Name", "Age"])
print(df)

   Name  Age
0  Adam   23
1   Bob   23
2   Eve   23

In [ ]:
# Using NumPy Arrays to Create a Frame

import numpy as np
np_arr = np.array([[1, 2, 3], [4, 5, 6]])