# Data Science Process
1. Define the Problem
2. Data Collection
3. EDA (Exploratory Data Analysis)
4. Data Cleaning and Pre-Processing
5. Feature Engineering
6. Modelling
7. Evaluation
8. Deployment

# Exploratory Data Analysis 
1. Load and Understand the structure of the data
2. Clean the data
3. Get the statistical summaries
4. Data Visualization

<b>Pandas are used for EDA.</b>
<b>MatplotLib, Seaborn are used for Data Visualization.</b>

<b>Pandas</b>: Data analysis and manipulation tool.

In [1]:
import pandas as pd

In [3]:
# Pandas -> Series, DataFrames
# Series -> 1-Dimensional labelled array
# DataFrame -> 2-Dimension Labelled array (Like a table)

info = {
    "Name": ["Gojo", "Toji", "Adi"],
    "Marks": [95, 78, 99]
}

df = pd.DataFrame(info)
print(df)

# The Dictionary Keys are the Headers of the DataFrame.
# 0, 1 and 2 are the labels in the DataFrame.

   Name  Marks
0  Gojo     95
1  Toji     78
2   Adi     99

In [4]:
df

   Name  Marks
0  Gojo     95
1  Toji     78
2   Adi     99

In [8]:
# Series - 1D Labelled Array
s = pd.Series([1, 2, 3, 4, 5])
print(s)
print(type(s))

# Index
print(s[0])
print(s[2])

# Index and labels are not the same. We can also have custom labels.

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
3

In [10]:
# Adding a custom label
s = pd.Series([22, 23, 24, 25, 26], index = ["Adi", "Gojo", "Toji", "Nanami", "Sukuna"])
print(s)

# Accessing values using labels
print(s["Adi"])
print(s["Gojo"])

# Printing all the labels 
print(s.index)

Adi       22
Gojo      23
Toji      24
Nanami    25
Sukuna    26
dtype: int64
22
23